@media (max-width: 1000px) {
  .side-nav {
    width: 73px;
  }

  .side-nav.close {
    width: 250px;
  }

  .side-nav .logo-name {
    opacity: 0;
    pointer-events: none;
  }

  .side-nav.close .logo-name {
    opacity: 1;
    pointer-events: auto;
  }

  .side-nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  .side-nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }

  .side-nav~.main {
    left: 73px;
    width: calc(100% - 73px);
  }

  .side-nav.close~.main {
    left: 250px;
    width: calc(100% - 250px);
  }

  .side-nav~.main .searchbar {
    left: 73px;
    width: calc(100% - 73px);
  }

  .side-nav.close~.main .searchbar {
    left: 250px;
    width: calc(100% - 250px);
  }

  .activity .activity-data {
    overflow: scroll;
  }
}

@media (max-width: 780px) {
  .dashboard .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}

@media (max-width: 560px) {
  .dashboard .boxes .box {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .side-nav {
    width: 73px;
  }

  .side-nav.close {
    width: 73px;
  }

  .side-nav .logo-name {
    opacity: 0;
    pointer-events: none;
  }

  .side-nav.close .logo-name {
    opacity: 0;
    pointer-events: none;
  }

  .side-nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  .side-nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }

  .side-nav~.main {
    left: 73px;
    width: calc(100% - 73px);
  }

  .side-nav.close~.main {
    left: 73px;
    width: calc(100% - 73px);
  }

  .side-nav~.main .searchbar {
    left: 73px;
    width: calc(100% - 73px);
  }

  .side-nav.close~.main .searchbar {
    left: 73px;
    width: calc(100% - 73px);
  }

  .searchbar .sidebar-toggle {
    display: none;
  }
}